html, body {
    margin: 0!important;
    padding: 0!important;
    background-color: rgba(35, 35, 35, 1)!important;
    height: 100%;
    width: 100%;
    
}

div, p, span, h1, h2, h3, h4, h5, h6, a, a:link, a:visited, a:focus, a:hover, a:active, .item, .item:hover {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    color:rgba(230, 230, 230, 1);
    text-decoration: none;
}

#app{
    position: relative;
    height: 100%;
    
}

.panel {
    height: 50%;
    overflow-y: scroll;
}

.topbar {
    background-color: rgba(20, 20, 20, 1)!important;
    position: sticky;
    top: 0;
}
#options:hover{
    background-color: rgba(30, 30, 30, 1)
}
#close:hover{
    background-color: rgb(230, 46, 0);
}

#contentScreenTitleBar:hover {
    cursor: row-resize;
}





.page {
    display:none;
}
/*
#root {
    display: block!important;
}
*/
/* #back {
    display: none;
}  */

.item{
    padding-left: 10px;
    display: block;
    height: 25px;
}
.item:hover{
    cursor: pointer;
}
.navarrow{
    display: none!important;
    line-height: 25px!important;
    padding-left: 10px;
}
.focused > .navarrow{
    display: inline-block!important;
}




.preview {
    display: none;
    font-size: large;
}



