p{
    margin:0!important;
}

#navbar, .hidden-answer, .answer, #ehsiControls{
    display:none
}

.navbar-answer{
    cursor: pointer;
}

.navbar-answer:hover .hidden-answer{
    display: block;
    white-space:nowrap;
}

.navbar-answer:hover .mask{
    display: none;
    white-space:nowrap;
}

#scaleCanvas{
    display: none;
    position: absolute;
}