body,html{
	padding:0px;
	margin:0px;
}
ul{
	list-style-type:none!important;
	margin:0!important;
	padding:0!important;
}

.fitScreen{
	width:100%;
	height:1150px;
}
.screenImage {
	width:100%;
	min-height: 100%;
	min-width: 800px;
	/*overflow-y: scroll;*/
	position:absolute;
}

.btn{
	border: 2px solid red;
	position:fixed;
	cursor: pointer;
}
#settingsBtn{
	top: 1%;
	right: 3%;
	height:9%;
	width:12%;
}
.backBtn{
	height:9%;
	width:20%;
	top: 2%;
	left: 4%;
}

/*
	LoginScreen
*/

#registerBtn{
	height:7%;
	width:31%;
	top: 74%;
	left: calc(50% - 13%);
}

/*
	Module Select Screen
	NOTE: all of the elements for this screen will have to accomodate movement/sticky
*/
#moduleSelectScreen{
	
}


#moduleSelectionHeader{
	width:100%;
	top:0;
	position: sticky;
	z-index: 1;
}
.headerImage{
	width:100%;
}

#scrollToModule{
	height:9%;
	width:50%;
	top: 2%;
	left:28%;
}

#moduleSelectBody{
	overflow-y:scroll!important;
}

ul#moduleList{
	position: absolute;
	border: 1px solid green;
	width: 70%;
	left: 15%;
	top:16%;
	height:86%;
}
.moduleBtn{
	display:block;
	position:relative;
	margin-bottom:6%;
	width:100%;
	height: 18%;
}


/**
	MODULE SCREEN
**/

.nodeBtn{
	border-radius: 50%;
}

.unlockedNode{
	height:6%;
	width:10%;
}

#n1{
	bottom:23%;
	right:22%;
}
#n2{
	bottom:37%;
	right:54%;
}
#n3{
	bottom:51%;
	right:55%;
}
#n4{
	bottom:62%;
	right:40%;
}
#n5{
	bottom:85%;
	right:29%;
}

/*
	Settings Screen
*/

#backFromSettingsBtn{
	height:12%;
	width:30%;
	bottom: 4%;
	left: calc(50% - 15%);
}

a#toggleColorBlind{
	width:10%;
	height: 7%;
	right: 14%;
	top:23%;
}
img#colorBlindOptImage{
	height: 100%;
	width:100%;
}

/**
	POPUP styles
**/

#popup{

}

.popupContainer{
	display:none;
}

#settingsPop{

}

#congratsPop{

}

/*
	Level 1, lesson 1
*/

ul#lev1_les1{
	border: 1px solid green;
    position: fixed;
    background-color: rgb(239, 228, 176);
    top: 69%;
    left: 52%;
    width: 44%;
    height: 20%;
}

li.lessonsMultChoiceOpt{
	height:25%;
	border: 1px solid red;
}
li.lessonsMultChoiceOpt > img{
	width: 100%;
}
