
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PtP Generator</title>
        <!-- <link rel="icon" href=""/> -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Bootstrap CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Latest compiled Vue.js dev build -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <link rel="stylesheet" href="ptpgenerator/ptpgenerator.css" />
        <script src="create_alert/create_alert_controller.js"></script>
        <script src="util/create_alert.js"></script>
    </head>

    <body>
        <div id="app" class="container-fluid px-5">

            <nav id="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top border-bottom shadow-lg">
                <div class="container-fluid text-center">
                    <h4 class="px-4">Origin: {{orig.radial}}/{{orig.dme}}</h4>
                    <h4 class="px-4">Destination: {{dest.radial}}/{{dest.dme}}</h4>
                    <h4 class="px-4 navbar-answer">Heading: <span class="hidden-answer">{{heading}}</span><span class="mask">***</span></h4>
                    <h4 class="px-4 navbar-answer">Distance: <span class="hidden-answer">{{distance}}</span><span class="mask">***</span></h4>
                    <button type="button" class="btn btn-primary px-3" @click="generatePtP()">Generate New</button>
                </div>
            </nav>


            <div class="row shadow mb-5">
                <div class="col-lg border">
                    <form class="p-4 my-2">
                        <legend>Point to Point Generation Parameters</legend>
                        <div class="form-floating mb-3">
                            <input id="dmeMax" type="number" class="form-control" v-model="dmeMax" v-bind:step="dmeStep" min="0" value="50">
                            <label for="dmeMax">Max DME</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="dmeStep" type="number" class="form-control" v-model="dmeStep">
                            <label for="dmeStep">DME Step</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="radialStep" type="number" class="form-control" v-model="radialStep">
                            <label for="radialStep">Radial Step</label>
                        </div>
                        <p class="text-center">
                            <button id="generatePtP" type="button" class="btn btn-primary" @click="generatePtP()">Generate Random Point to Point</button>
                        </p>
                    </form>
                </div>
                <div class="col-lg border">
                    <form class="p-4 my-2">
                        <legend>Custom Point to Point Values</legend>
                        <div class="row">
                            <p class="mb-1">Origin Point</p>
                            <div class="col-sm">
                                <div class="form-floating mb-3">
                                    <input type="number" id="customOriginRadial" class="form-control" min="0" max="360" step="1" value="180" placeholder="180">
                                    <label for="customOriginRadial">Radial</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating mb-3">
                                    <input type="number" id="customOriginDME" class="form-control" min="0" step="1" value="10" placeholder="10">
                                    <label for="customOriginDME">DME</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <p class="mb-1">Destination Point</p>
                            <div class="col-sm">
                                <div class="form-floating mb-3">
                                    <input type="number" id="customDestinationRadial" class="form-control" min="0" max="360" step="1" value="360" placeholder="360">
                                    <label for="customDestinationRadial">Radial</label>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-floating mb-3">
                                    <input type="number" id="customDestinationDME" class="form-control" min="0" step="1" value="10" placeholder="10">
                                    <label for="customDestinationDME">DME</label>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">
                            <button type="button" class="btn btn-primary" @click="createCustomPtP()">Create Point to Point</button>
                        </p>
                    </form>
                </div>
                <div class="col-lg">
                    <div class="row border h-50 p-3">
                        <div class="my-auto">
                            <h3>Starting Point: <span id="origPoint" class="fw-bolder text-decoration-underline"></span></h3>
                            <h3>Destination Point: <span id="destPoint" class="fw-bolder text-decoration-underline"></span></h3>
                        </div>
                    </div>
                    <div class="row border h-50 p-3">
                        <div class="my-auto">
                            <div class="d-flex justify-content-between mb-1">
                                <h3 class="mx-2">Heading: <span id="initialHeading" class="fw-bolder answer">{{heading}}</span></h3>
                                <button type="button" class="btn btn-primary float-end text-end" @click="showAnswer($event)">Show</button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h3 class="mx-2">Distance: <span id="distance" class="fw-bolder answer">{{distance}}</span></h3>
                                <button type="button" class="btn btn-primary float-end text-end" @click="showAnswer($event)">Show</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="ehsi" class="row border my-5 shadow">
                
                <div class="col-md my-3 text-center">
                    <div style="position: relative;">
                        <canvas id="canvas" class="canvas" width="600" height="600"></canvas>
                        <canvas id="scaleCanvas" class="canvas" width="600" height="600"></canvas>
                    </div>
                </div>
                <div class="col-md border-start" id="ehsiControls">
                    <div class="row border-bottom px-5">
                        <div class="col-md-4">
                            <div class="form-floating my-3">
                                <input type="number" id="canvasHeightPercentage" class="form-control" v-model="canvasHeightPercentage" @input="resizeCanvasLayers()" min="20" max="100" value="50" step="1">
                                <label for="canvasHeightPercentage">EHSI %</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="my-3">
                                <label for="canvasHeightPercentage">EHSI size percentage:</label>
                                <input type="range" class="form-range" v-model="canvasHeightPercentage" @input="resizeCanvasLayers()" min="20" max="100" value="50" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="my-auto p-5">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating">
                                    <input id="headingInput" type="number" class="form-control" v-model="headingInput" @input="rotateCanvas(headingInput)" placeholder="360" step="1" min="0" max="360">
                                    <label for="headingInput">Set HDG:</label>
                                </div>
                            </div>
                            <div class="col-8">
                                <label for="headingInput">Heading Slider:</label>
                                <input type="range" class="form-range" v-model="headingInput" @input="rotateCanvas(headingInput)" placeholder="360" step="1" min="0" max="360">
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-around">
                            <button type="button" class="btn btn-primary my-3 mx-1" @click="drawPoints()">Display Points</button>
                            <button type="button" class="btn btn-primary my-3 mx-1" @click="drawPtPLine()">Display Pen Line</button>
                            <button type="button" class="btn btn-primary my-3 mx-1" @click="drawRoughHeading()">Parallel Check</button>
                        </div>
                        <hr>
                        <div>
                            <p class="text-center">
                                <button type="button" class="btn btn-primary my-3" @click="toggleScales()">Toggle Scale</button>
                            </p>
                            <p>Warning: Some features on this compass are not scaled based on any known EHSI.</p>
                            <ul>
                                <li>Red scale: 1/4 radius increments</li>
                                <li>Blue scale: 1/3 radius increments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center mb-4">
                <button id="toggleDarkMode" type="button" class="btn btn-primary my-2">Toggle Dark Mode</button>
            </p>
        </div>
        
        <script src="ptpgenerator/ptpgenerator.js"></script>
    </body>
</html>