ul, p, .col, .col-md-3, hr, .row{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.content-page{
    display: none;
}

#home{
    display: block;
}

#socials{
    position: absolute;
    right: 0px;
    display: block;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transition: .25s;
    z-index: 999;
    color: white;
}

#socials > ul{
    display:flex;
}

#socials > ul > li{
    user-select: none;
    padding: 10px 20px;
}

#socials > ul > li:hover{
    color:black;
    background-color: white;
    transition: 0.25s;
}

#socials > ul > li:hover > .social-link{
    color:black;
    transition: 0.25s;
}


.social-link{
    text-decoration: none;
    color: white
}

.social-icon{
    display: block;
    text-align: center;
}
.social-alt-text{
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#banner{
    display: block;
    width: 100%;
    height: 600px;
}

#bannerCarousel{
    position: absolute;
    width: 100%;
}

.banner-img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#bannerRow{
    height: calc(100% - 30px);
}

#bannerBox:hover{
    opacity: 0.0;
    transition: .25s;
}

#bannerBox {
    width: 600px;
    max-width: 75%;
    min-width: 33%;
    border: 2px solid white;
    color: white;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    font-weight: bold;
    user-select: none;
}



#bannerTitle{
    font-size: 125px;
    text-decoration: underline;
}

#bannerSubtitle{
    font-size: 27px;
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    #bannerTitle{
        font-size: 21vw;
        text-decoration: underline;
    }
    #bannerSubtitle{
        font-size: 4.5vw;
        padding-bottom: 2.5vh;
    }
}

#navbar{
    height: 60px;
    margin-top:-60px;
    width: 100%;
    padding: 0;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.navbar-toggler{
    border:0;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.1);
    border-radius: 0;
    color: white;

}

.navbar-toggler.active{
    /* backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.2); */
    /* background-color: white; */
}

.navbar-toggler:hover, .navbar-toggler.active{
    transition: .25s;
    backdrop-filter: blur(0px);
    background-color: white;
    color: black!important;
}

.navbar-toggler > i{
    line-height: 1.4;
    color: white;
}

.navbar-toggler:hover > i, .navbar-toggler.active > i{
    transition: .25s;
    color: black;
}

.nav-item{
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: x-large;
    font-weight: bold;
}

.nav-item-expanded{
    line-height: 60px;
    border-right: 2px solid white;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.1);
    width: 0;
    color:white;
}

.nav-item-expanded:last-child{
    border-right:0;
}

.nav-item-expanded:hover, .nav-item-expanded.active{
    transition: .25s;
    backdrop-filter: blur(0px);
    background-color: rgba(0,0,0,0.0);
    background-color: white;
    color: black;
}

.nav-item-collapsed{
    border-top: 1px solid black;
}
.nav-item-collapsed:last-child{
    border-bottom: 1px solid black;
}

.nav-item-collapsed:last-child.active{
    border-bottom: 1px solid white;
}

.nav-item-collapsed:hover, .nav-item-collapsed.active{
    transition: .25s;
    color: rgb(248,249,250);
    background-color: rgba(33, 37, 41, 1);
}

.category-filter {
    cursor: pointer;
    user-select: none;
}

.category-filter.active{
    background-color: rgb(248,249,250)!important;
    color: black;
}

.gear-list-link {
    word-break: break-all;
}

.gear-image-container{
    height: -webkit-fill-available;
    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.1);
}

.gear-image{
    max-width: 100%;
    height: fit-content;
    width: 100%;
    margin:auto;
}

@media (min-width: 768px) {
    #collapsibleNavbar {
        display: none;
    }
}

@media (max-width: 768px) {
    #navbar.sticky-top {
        position: relative!important;
    }
    #interestNav{
        display: none;
    }
}

#home{
}

#content{
    color: white;
}

.word-break{
    word-break: break-all;
}

#interestNav{
    max-width: 25%;
}

#interest-nav-list{
    position: sticky;
    height: 33vh;
    top:33vh;
    max-height: 100vh;
    min-height: fit-content;
    justify-content: space-between;
    text-align: center;
}

.interest-nav-link{
    display: block;
    /* width: 100%; */
}
.interest-nav-link > a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin-bottom: 10px;
    /* width: 100%; */
    display: block;

}

.interest-nav-link > a:hover{
    transition: .25s;
    text-decoration: underline;
    padding-left:10px;
    
}

.interest-banner{
    position: relative;
    display: block;
    width: 90%;
    text-align: center;
    cursor: pointer;
    aspect-ratio: 2/1;
    scroll-margin-top: 25vh;
    border: 1px solid white;
    overflow: hidden;
}

#mobileInterestsIntro{
    width: 50%;
}

@media (max-width: 768px) {
    .interest-banner{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        cursor: pointer;
        aspect-ratio: 2/1;
        scroll-margin-top: 25vh;
        border: 1px solid white;
        overflow: hidden;
    }

    #mobileInterestsIntro{
        width: 90%;
    }
}

.interest-banner:hover{
    transition: .25s;
}

.interest-banner:hover > .interest-img{
    transition: .25s;
    filter: blur(0px);
}
.interest-banner:hover > .interest-banner-text {
    transition: .25s;
    opacity: 0;
}

.interest-banner > h1{
    transition: .25s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: max(7vw, 350%);
    -webkit-text-stroke: 2px #000; 
    text-stroke: 2px #000; 
}


.interest-img{
    transition: .25s;
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
    filter: blur(3px);
}