
.no-results, .flyout-content, .loading{
    display: none;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;  
}

.marker-default{
    text-shadow: 0 0 2px #fff;
}

#flyoutMenu{
    height:5%
}

.flyout-content{
    height: 95%;
}

.menu-item{
    cursor: pointer;
}

.menu-item > i {
    font-size: 3vh;
}

.toggle-switch {
    cursor: pointer;
}

#searchArea{
    height:84%;
}

#markerSearch {

}

#mapSearch{
    height: 75%;
}

#markerSearch{
    height: 85%;
}

.result-list-wrapper{
    overflow-y: scroll;
    height: 100%;
}

#locationSearchResultsWrapper{
    overflow-y: scroll;
    height: 89%;
}

.result-list{

}

.filtered-marker{
    font-size: small;
    color: var(--bs-secondary)
}

.filtered-marker:hover{
    color: var(--bs-danger)!important;
}