
#map {
    position: relative;
    height: 100%;
    width: 100%;  
}

#flyoutMenu{
    height:5%
}

.flyout-content{
    height: 95%;
}

.menu-item{
    cursor: pointer;
}

.menu-item > i {
    font-size: 3vh;
}

.flyout-content{
    display:none
}

.toggle-switch {
    cursor: pointer;
}

#searchArea{
    height:84%;
}

#markerSearch {

}

.search-container{
    height: 85%;
}

.result-list-wrapper{
    overflow-y: scroll;
    height: 100%;
}

.result-list{

}

.filtered-marker{
    font-size: small;
}

.filtered-marker > i{
    
}