html, body {
    margin: 0!important;
    padding: 0!important;
}

#title {
   padding: 4rem 2rem;
}

#menuIcon {
    line-height: 75%;
}

#menuToggle:hover {
    cursor: pointer;
}

.gallery-toggle:hover {
    cursor: pointer;
    color: red;
}
.gallery-toggle:hover > span {
    background-color: red!important;
}

.catagory-list {
    border-top: 2px solid black;
}

.gallery-set {
    display: none;
}

.img-container {
    width: 22vw;
    height: 22vw;
}

.img-default {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.picture-hover:hover {
    transition: 200ms;
    -webkit-box-shadow: 0 0 20px #fff;
        box-shadow: 0 0 20px #fff;
    cursor: pointer;
}

#previewImageContainer {
    max-width: 60vw;
    width: 60vw;
    max-height: 90vh;
    height: 100%;
    background-color: black;
}

#previewControls {
    width: 50%;
    margin: auto;
}

.preview-control {

}

.preview-control:hover {
    transition: 500ms;
    background-color: rgba(33, 37, 41, 1);
    color:white;
    cursor: pointer;
}

#previewImageDetails {
    width: 100%;
}

#art {
    display: block;
}