

/* #creator-page, #test, #restartTest, #results {
    display: none;
} */

#creator-page, #restartTest, #results, #test, .question, .test-hidden {
    display: none;
}

#questions, #questions>li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#questionNumber {
    width: 50px;
}

.prompt {
    white-space: pre-line;
    white-space: pre-wrap;
}


.incorrect {
    background-color: rgba(255,0,0, .5);
}

.correct {
    background-color: rgba(0,255,0, .5);
}

.hover {
    cursor: pointer;
}