<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href=""/>
        <!--FontAwesome-->
        <script src="https://kit.fontawesome.com/adc1711e54.js" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Latest compiled HighCharts -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/xrange.js"></script>
        <!-- Latest compiled Vue.js dev build -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <title>Ryans Sleep</title>
    </head>
    <body>
        <div id="app">
            <div class="modal" id="loading" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">
                        <div class="modal-body text-center my-5">
                            <i class="fas fa-4x fa-spinner fa-pulse"></i>
                        </div>
                    </div>
                </div>
            </div>

            <header class="w-100">
                <nav id="layout-nav" class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow bg-dark navbar-dark fixed-top w-100">
                    <div class="container">
                        <div class="nav-item">
                            <a class="navbar-brand nav-link nav-direct" href="#" data-toggle="tooltip" title="Refresh">
                                <i class="fas fa-bed"></i>
                                <span> Ryans Sleep</span>
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="layout-navitems" class="navbar-collapse collapse d-sm-inline-flex">
                            <ul class="nav navbar-nav mr-auto">
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <!-- ADD modal for edit user -->
                                <li class="nav-item">
                                    <a href="" class="nav-link" data-toggle="tooltip" title="Top">
                                        Sections <i class="fas fa-caret-down"></i> 
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="main">

                <div id="header-mast">
                    <div class="container-sm font-weight-bold p-5 text-dark" style="font-size: 5em;">
                        <p class="text-left" style="position:relative;margin-bottom:-1em; margin-left: 1.8em;text-shadow: 0 0 10px white;z-index: 1;">Ryans</p>
                        <p class="text-center"><i class="fas fa-bed fa-2x"></i></p>
                        <p class="text-right" style="margin-top:-1em; margin-right: 2em;text-shadow: 0 0 10px white;">Sleep</p>
                    </div>
                </div>

                <div class="containers">

                    <div class="section section-no-shadow" style="background-color: #ff6666;">
                        <div class="row">
                            <div class="col-sm-4 m-auto">
                                <p class="m-0 section-icon text-center"><i class="fas fa-virus fa-9x"></i></p>
                            </div>
                            <div class="col-sm-8 section-text-shadow p-4">
                                <h1 class="text-center">{{sections[0].title}}</h1>
                                <h3 class="section-content">{{sections[0].content}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="section section-shadow">
                        <div class="row">
                            <div class="col-sm-8 p-4">
                                <h1 class="text-center">{{sections[1].title}}</h1>
                                <h3 class="section-content">{{sections[1].content}}</h3>
                            </div>
                            <div class="col-sm-4 m-auto">
                                <p class="m-0 text-center"><i class="fas fa-history fa-9x"></i></p>
                            </div>
                        </div>
                    </div>


                    <div class="section section-no-shadow" style="background-color: #6666ff;">
                        <div class="row">
                            <div class="col-sm-4 m-auto">
                                <p class="m-0 section-icon text-center"><i class="fas fa-brain fa-9x"></i></p>
                            </div>
                            <div class="col-sm-8 section-text-shadow p-4">
                                <h1 class="text-center">{{sections[2].title}}</h1>
                                <h3 class="section-content">{{sections[2].content}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="section section-shadow">
                        <div class="row">
                            <h1 class="text-center w-100">Total hours slept before bahavior change</h1>
                            <div class="col-sm-8 p-4">
                                <div class="m-auto" id="totalSleepHoursBefore" style="width:80%; height:400px;"></div>
                            </div>
                            <div class="col-sm-4 m-auto p-5">
                                <ul class="graph-ul">
                                    <li>NOTE: Weekends (red background) are not included in the following data</li>
                                    <li>Average night of sleep excluding naps = 6.60hrs</li>
                                    <li>Average night of sleep including naps = 7.34hrs</li>
                                    <li>Excessive napping throughout the day (10% of total sleep), not good.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="section section-no-shadow" style="background-color: #cc00cc">
                        <div class="row">
                            <h1 class="text-center w-100 section-text-shadow">Bed time and Wake time before behavior change</h1>
                            <div class="col-sm-4 m-auto section-text-shadow p-5">
                                <ul class="graph-ul">
                                    <li>Test here plzx</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="col-sm-8 p-4">
                                <div class="m-auto" id="sleepAndWakeTimeBefore" style="width:80%; height:800px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="section section-shadow">
                        <div class="row text-center">
                            <div class="col-sm-8 mx-auto">
                                <h1>GRAPHS BITCH</h1>
                                
                            </div>
                        </div>
                    </div>

                    <div class="section section-no-shadow" style="background-color: #99ff99;">
                        <div>hey</div>
                    </div>

                    <div class="section section-shadow">
                        <h1 class="text-center mb-5">Daily log</h1>
                        <div class="row">
                            <div class="col">
                                <div v-for="(day, index) in w1" class="row mb-3">
                                    <div class="daily-log border shadow d-flex align-items-stretch">
                                        <div class="p-4 border-right bg-dark text-white text-center">
                                            <div class="my-auto">
                                                <h2>{{week_enum[index]}}</h2>
                                                <span>{{day.date}}</span>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="p-4 bg-light">
                                            {{day.log}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div v-for="(day, index) in w2" class="row mb-3">
                                    <div class="daily-log border shadow d-flex align-items-stretch">
                                        <div class="p-4 border-right bg-dark text-white text-center">
                                            <h2>{{week_enum[index]}}</h2>
                                            <span>{{day.date}}</span>
                                            <span></span>
                                        </div>
                                        <div class="p-4 bg-light">
                                            {{day.log}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <div class="section section-no-shadow" style="background-color: #66ffff;">
                        <div class="row text-center">
                            <div class="col-sm-4">
                                <p class="m-0 section-icon"><i class="fas fa-virus fa-9x"></i></p>
                            </div>
                            <div class="col-sm-8 section-text">
                                <h2>Sleep before behavior change goal</h2>
                                <h4 class="section-text">Lorem</h4>
                            </div>
                        </div>
                    </div>

                    <div class="section section-shadow">
                        <div>hey</div>
                    </div>

                    <div class="section section-no-shadow" style="background-color: #ff66ff;">
                        <div>hey</div>
                    </div>

                    <div class="section section-shadow">
                        <div>hey</div>
                    </div>

                </div>
            </div>
        </div>
        <link rel="stylesheet" href="main.css"/>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="vueControllers.js"></script>
    </body>
</html>