body{
    background-color: rgba(225,225,225,1);
}


ul{

}

header{
    height: 60px; 
    display: block; 
    position: absolute; 
    top: 0;
}

#layout-nav{
    display: none;
}


#header-mast > div > p{
    margin: 0px;
}


.section{
    padding-top:3em;
    padding-bottom:3em;
}

.section-shadow{
    box-shadow: 0px 0px 40px .5em black;
}

.section-no-shadow{
    color: rgba(225,225,225,1);
    box-shadow: inset 0px 2.5em 40px -30px black;
}

.section-text-shadow{
    text-shadow: 1px 1px 5px black;

}

.section-icon{
    text-shadow: 0 0 20px black
}

.section-content{
    margin:2em 4em;
}


.graph-ul{

}

.graph-ul > li{
    padding: .5em!important;
    font-size: 1.2em;
    font-weight: bold;
}



.daily-log{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 80%!important;
    margin:auto;
}

.daily-log > div:first-child{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 25%;
    position: relative;
} 

.daily-log > div:last-child{
    overflow: hidden;
    width: inherit;
}

